@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'neucha';
    src: local('neucha'), url('./assets/fonts/Neucha.ttf') format('ttf');
}

body {
    font-family: 'neucha', sans-serif;
}
